//變數
@import 'base/var';
@import 'base/setting';

//layout
@import 'layout/header';
@import 'layout/footer';

//page
@import 'page/index'; //首頁
@import 'page/about'; //關於我們



//運算  單位要注意 // 除式要()

.w {
    width: 10 + 20em;
    height: 20px - 300;
    margin: 10 * 10 + px; //單位
    font: (100 / 20) + px;
}

$bgc : blue;

.bgcolor {
    @if $bgc ==light {
        background-color: #fff;
    }

    @else if $bgc ==dark {
        background-color: #000;
    }

    @else {
        background-color: $bgc;
    }
}

$device-w : 400;

.textP {
    @if $device-w < 720 {
        font-size: 20px;
        line-height: 30px;
    }

    @else if $device-w <=1200 {
        font-size: 16px;
        line-height: 24px;
    }
}

$themeLayout : 1200;
.wrapper {
    @if $themeLayout ==100 {
        width: 100%;
    }

    @else if $themeLayout < 100 {
        width: $themeLayout * 1%;
        margin: 0 auto;
    }

    @else {
        width: $themeLayout + px;
        margin: 0 auto;
    }
}


//運算函式 round/ floor /ciel
.f {
  width: round((4/12) * 100% ) ;
}

// 顏色函式
.c {
//   background-color: darken(#fff , 100);
  background-color: lighten(#000 , 100);

}

$alink : #00aaff;



a {
 background-color: $alink;
 &:hover {
    background-color: darken($alink  , 10);
 }
}


