body {
  background-color: rgb(238, 238, 238);
  font-size: 20px;
  margin: 0;
  padding: 0; 
}

.wrapper {
  width: 100%;
  
}

nav {
   width: 920px;
   margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
    width: 150px;
    text-align: center;
    padding: 10px 8px;
    cursor: pointer;
     margin:  0 10px;   
     background-color: #e30707; 
     color: #fff;
}