@mixin layout($themeLayout){
    @if $themeLayout ==100 {
        width: 100%;
    }
    @else if $themeLayout < 100 {
        width: $themeLayout * 1%;
        margin: 0 auto;
    }
    @else {
        width: $themeLayout + px;
        margin: 0 auto;
    }
}

@mixin basetitle($fontSize: 18px , $color:null) {
    font-size: $fontSize;
    line-height: 1.4;
    font-weight: bold;
    color : $color;
}

// btn
@mixin btn($w , $color , $bgc:null , $borderRadius:null){
    width: $w;
    color: $color;
    font-size: 16px;
    @if $bgc == null{
        border: 1px solid $color; 
    }
    padding: 5px 10px;
    text-align: center;
    @if $borderRadius != null {
        border-radius: $borderRadius;
    } 
    background-color: $bgc;
    cursor: pointer;
    margin-bottom: 10px;
}
