@mixin layout($themeLayout){
    @if $themeLayout ==100 {
        width: 100%;
    }
    @else if $themeLayout < 100 {
        width: $themeLayout * 1%;
        margin: 0 auto;
    }
    @else {
        width: $themeLayout + px;
        margin: 0 auto;
    }
}

@mixin basetitle($fontSize: 18px , $color:null) {
    font-size: $fontSize;
    line-height: 1.4;
    font-weight: bold;
    color : $color;
}